<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.slk.core.dao.sys.LogDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sys-Log-columns">
	    <![CDATA[
		`id` as `id`, `type` as `type`, `create_by` as `createBy`, `create_date` as `createDate`, `remote_addr` as `remoteAddr`, `user_agent` as `userAgent`, `request_uri` as `requestUri`, `method` as `method`, `params` as `params`, `exception` as `exception`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO sys_log (
        `id`, `type`, `create_by`, `create_date`, `remote_addr`, `user_agent`, `request_uri`, `method`, `params`, `exception`
        ) VALUES (
        #{id}, #{type}, #{createBy}, #{createDate}, #{remoteAddr}, #{userAgent}, #{requestUri}, #{method}, #{params}, #{exception}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE sys_log SET
	        `type` = #{type} , `create_by` = #{createBy} , `create_date` = #{createDate} , `remote_addr` = #{remoteAddr} , `user_agent` = #{userAgent} , `request_uri` = #{requestUri} , `method` = #{method} , `params` = #{params} , `exception` = #{exception}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM sys_log WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="Log">
		SELECT <include refid="sys-Log-columns" />
	    <![CDATA[
		    FROM sys_log 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="Log-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="type">
				AND `type` = #{type}
			</if>
	       <if test="createBy">
				AND `create_by` = #{createBy}
			</if>
	       <if test="createDateBegin != null">
				AND `create_date` >= #{createDateBegin}
		   </if>
		   <if test="createDateEnd != null">
				AND `create_date` &lt;= #{createDateEnd}
		   </if>
	       <if test="remoteAddr">
				AND `remote_addr` = #{remoteAddr}
			</if>
	       <if test="userAgent">
				AND `user_agent` = #{userAgent}
			</if>
	       <if test="requestUri">
				AND `request_uri` = #{requestUri}
			</if>
	       <if test="method">
				AND `method` = #{method}
			</if>
	       <if test="params">
				AND `params` = #{params}
			</if>
	       <if test="exception">
				AND `exception` = #{exception}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM sys_log 
		<include refid="Log-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="Log">
		SELECT <include refid="sys-Log-columns" /> FROM (
			SELECT <include refid="sys-Log-columns" />
			FROM sys_log 
			<include refid="Log-where"/>
			
			<if test="sortColumns != null">
				ORDER BY ${sortColumns}
			</if>
		) limit #{offset}, #{pageSize}
    </select>
	
	<select id="list" resultType="Log">
    	SELECT <include refid="sys-Log-columns" />
	    FROM sys_log 
		<include refid="Log-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

