<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.slk.core.dao.mp.ButtonMenuDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="mp-ButtonMenu-columns">
	    <![CDATA[
		`id` as `id`, `name` as `name`, `key` as `key`, `parent` as `parent`, `type` as `type`, `create_date` as `createDate`, `update_date` as `updateDate`, `del_flag` as `delFlag`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO mp_button_menu (
        `id`, `name`, `key`, `parent`, `type`, `create_date`, `update_date`, `del_flag`
        ) VALUES (
        #{id}, #{name}, #{key}, #{parent}, #{type}, #{createDate}, #{updateDate}, #{delFlag}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE mp_button_menu SET
	        `name` = #{name} , `key` = #{key} , `parent` = #{parent} , `type` = #{type} , `create_date` = #{createDate} , `update_date` = #{updateDate} , `del_flag` = #{delFlag}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM mp_button_menu WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="ButtonMenu">
		SELECT <include refid="mp-ButtonMenu-columns" />
	    <![CDATA[
		    FROM mp_button_menu 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="ButtonMenu-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="name">
				AND `name` = #{name}
			</if>
	       <if test="key">
				AND `key` = #{key}
			</if>
	       <if test="parent">
				AND `parent` = #{parent}
			</if>
	       <if test="type">
				AND `type` = #{type}
			</if>
	       <if test="createDateBegin != null">
				AND `create_date` >= #{createDateBegin}
		   </if>
		   <if test="createDateEnd != null">
				AND `create_date` &lt;= #{createDateEnd}
		   </if>
	       <if test="updateDateBegin != null">
				AND `update_date` >= #{updateDateBegin}
		   </if>
		   <if test="updateDateEnd != null">
				AND `update_date` &lt;= #{updateDateEnd}
		   </if>
	       <if test="delFlag">
				AND `del_flag` = #{delFlag}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM mp_button_menu 
		<include refid="ButtonMenu-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="ButtonMenu">
		SELECT <include refid="mp-ButtonMenu-columns" /> FROM (
			SELECT *
			FROM mp_button_menu 
			<include refid="ButtonMenu-where"/>
			
			<if test="sortColumns != null">
				ORDER BY ${sortColumns}
			</if>
		) a limit #{offset}, #{pageSize}
    </select>
	
	<select id="list" resultType="ButtonMenu">
    	SELECT <include refid="mp-ButtonMenu-columns" />
	    FROM mp_button_menu 
		<include refid="ButtonMenu-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

