@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/*全局*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,article,textarea{margin:0;padding:0;}
body{font-size:12px;color:#666; font-family:"HiraginoSansGB"; min-width:320px}
table{border-collapse:collapse;border-spacing:0;}
ul,li,dl{list-style:none;list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a{text-decoration:none; color:#666}
img{border:none;}
i{font-style:normal;}
input,textarea,select{outline:none;-webkit-appearance:none; padding:0; margin:0;}
input[type="radio"]{-webkit-appearance:radio;box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/*字体*/
.bold{font-weight:bold;}
.ft-yahei{font-family:"微软雅黑"}
/*链接,下划线*/
.text-under{text-decoration:underline;}
/*按钮,表单*/
.new-input{border:0; background:#fff}
.select-box:after {content: "";position:absolute;top:50%;right:10px;display:inline-block;font-size: 0;border-top:2px solid #bdc4cb;border-left:2px solid #bdc4cb;width: 6px;height: 6px;background-color: transparent;-webkit-transform:rotate(225deg);margin-top:-6px;}
.select-cont{border:1px #ccc solid; height:36px; text-indent:8px; font-size:14px; border-radius:0; color:#666; background:#fff}
.textareabox{ border:0;resize: none;}
/*浮动*/
.clearfix:after {content: ' ';display: block;clear: both;height: 0;visibility: hidden;font-size: 0;line-height: 0;}
.clearfix {zoom: 1;}         
.cl{ clear:both;}
.fl{float:left;}
.fr{float:right;}
/* text-align */
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align: left;}
.text-indent-2em{ text-indent:2em}
.text-indent-10px{text-indent:10px;}
/*定位*/
.pos-rel{position:relative; }
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}
/*定位居中*/
.pos-center{ position:absolute;left:0;right:0;margin:auto;}
.pos-middle{ position:absolute;top:50%;}
/* display */
.display-ib{display:inline-block;*display:inline;_display:inline;*zoom:1;}
.display-in{display:inline}
.display-bl{ display:block;}
.display-box{ display:-moz-box;display:-webkit-box;display:box;}
.display-no{display: none;}
.flex1{moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.flex2{moz-box-flex:2;-webkit-box-flex:2;box-flex:2;}
.flex3{moz-box-flex:3;-webkit-box-flex:3;box-flex:3;}
/* 基于display: table-cell的自适应布局 */
.dis-cell{display:table-cell;*display:inline-block;*width:auto;}
/* vertical-align */
.ver-middle{vertical-align: middle;}
.ver-textbottom{vertical-align:text-bottom;}
.ver-bottom{vertical-align:bottom;}
.ver-top{vertical-align:top;}
.ver-2{vertical-align:-2px;}
.ver-3{vertical-align:-3px;}
.ver-4{vertical-align:-4px;}
/* overflow */
.over-hidden{overflow:hidden;}
/*圆角*/
.br3{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.br4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.br0{ border:0; -webkit-appearance:none;}
.br20{ border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
.br100{border-radius:100px;-moz-border-radius:100px;-webkit-border-radius:100px;}
/*边框*/
.bd-hui{border:1px solid #ccc;}
.bt-hui{border-top:1px solid #ccc;}
.bb-hui{border-bottom:1px solid #ccc;}
.br-hui{border-right:1px solid #ccc;}
.br-hui01{ border:1px solid #ddd;}
.bt-hui01{ border-top:1px solid #e7e7e7;}
.bb-hui04{ border-bottom:1px solid #e7e7e7;}
.bb-hui03{ border-bottom:1px solid #dcdcdc;}
.bt-hui02{ border-top:1px solid #d9d9d9;}
.bt-hui-dotted{border-top:1px #ccc dotted}
.bb-hui{ border-bottom:1px solid #ccc;}
.bb-hui01{border-bottom:3px solid #f2f2f2;}
.bb-hui02{border-bottom:1px solid #ddd;}
.bb-lan{ border-bottom:3px solid #00aaf0;}
.bf-hui{ border-left:1px solid #ccc;}
.no-bd{ border:0}
/*css3过渡动画效果 */
.trans{-webkit-transition: all 0.3s;transition: all 0.3s; -moz-transition: all 0.3s;}
/* margin */
.ml4{ margin-left:4px;}
.m0a{margin:0 auto;}
.mt6{ margin-top:6px;}
.mt8{ margin-top:8px}
.mt10{ margin-top:10px}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px}
.mt24{ margin-top:24px}
.mt26{ margin-top:26px}
.mt-5{ margin-top:-5px}
.mt-6{ margin-top:-6px;}
.mt-10{ margin-top:-10px}
.ml10{ margin-left:10px}
.ml15{ margin-left:15px}
.ml12{ margin-left:12px;}
.ml18{ margin-left:18px;}
.ml24{ margin-left:24px;}
.ml26{ margin-left:26px;}
.ml42{ margin-left:42px;}
.mt10{ margin-top:10px}
.mt16{ margin-top:16px}
.mt14{ margin-top:14px}
.mt30{ margin-top:30px}
.mb3{ margin-bottom:3px;}
.mb5{ margin-bottom:5px}
.mb8{ margin-bottom:8px;}
.mb10{ margin-bottom:10px}
.mb18{ margin-bottom:18px}
.mb20{ margin-bottom:20px}
.mb24{ margin-bottom:24px}
.mb28{ margin-bottom:28px}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.ml4{ margin-left:4px;}
.ml8{ margin-left:8px;}
.mr1{ margin-right:1px;}
.mr5{ margin-right:5px;}
.mlr10{ margin-left:10px; margin-right:10px;}
.mt5{ margin-top:5px;}
.mlr14{ margin-left:14px; margin-right:14px;}
.mt22{ margin-top:22px;}
.mb48{ margin-bottom:48px;}
.mb40{ margin-bottom:40px;}
/*padding*/
.pl5{ padding-left:5px}
.pl8{ padding-left:8px}
.pl15{ padding-left:15px}
.pl20{ padding-left:20px}
.pl32{ padding-left:32px}
.pr20{ padding-right:20px}
.pr26{ padding-right:26px;}
.pb4{ padding-bottom:4px}
.pb6{ padding-bottom:6px}
.pb8{ padding-bottom:8px}
.pb10{ padding-bottom:10px}
.pb14{ padding-bottom:14px}
.pb18{ padding-bottom:18px}
.pb20{ padding-bottom:20px}
.pt2{ padding-top:2px}
.pt4{ padding-top:4px;}
.pt5{ padding-top:5px;}
.pt6{ padding-top:6px;}
.pt8{ padding-top:8px}
.pt10{ padding-top:10px}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px}
.pd10{ padding:10px;}
.pt11{ padding-top:11px;}
.pt12{ padding-top:12px;}
.pb7{ padding-bottom:7px;}
.pb18{ padding-bottom:18px;}
.ptb8{ padding-top:8px; padding-bottom:8px;}
.ptb14{ padding-top:14px; padding-bottom:14px;}
.ptb16{ padding-top:16px; padding-bottom:16px;}
.ptb25{ padding-top:25px; padding-bottom:25px;}
.plr1{ padding-left:1px; padding-right:1px;}
.plr15{ padding-left:15px; padding-right:15px;}
.plr16{ padding-left:16px; padding-right:16px;}
.pl26{ padding-left:26px}
.pb50{ padding-bottom:50px;}
.plr10{ padding-left:10px; padding-right:10px;}
/*背景颜色*/
.bg-blue{ background:#00aaf0;}
.bg-hui{background:#e6e6e6;}
.bg-bai{ background:#fff;}
.bg-hui01{ background:#f2f2f2;}
.bg-hui02{ background:#eee;}
.bg-hui03{ background:#d9d9d9;}
.bg-hui04{background:#f5f5f5}
.bg-lan01{ background:#f0fafc;}
/*背景图片*/
.icon01{background:url(/static/img/act/pos/icon01.png) no-repeat;background-size:24px auto;}
.ico-tell{ width:21px; height:20px; background-position:0 -391px}
.ico-sms{ width:24px; height:20px; background-position:0 -417px}
/*字体颜色*/
.bai{ color:#fff;}
a.bai,a.bai:hover{ color:#fff;}
.hei{ color:#000;}
.hei01{ color:#333}
.hui{ color:#666}
.hui01{color:#999}
.hui02{ color:#6b6b6b;}
.hui03{ color:#a6a6a6;}
.hui04{ color:#9f9f9f;}
.hui05{ color:#a0a0a0;}
.lan{ color:#00aaf0;}
.red{ color:#cc0000}
/*字体大小*/
.f0{ font-size:0; line-height:0; text-indent:-999em; overflow:hidden}
.f10{font-size:10px;}
.f11{ font-size:11px;}
.f12{font-size:12px;}
.f13{ font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f15{ font-size:15px}
.f20{ font-size:20px}
.f18{font-size:18px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
/*高度*/
.h16{ height:16px;}
.h20{ height:20px;}
.h22{ height:22px;}
.h24{ height:24px;}
.h40{ height:40px;}
.h30{ height:30px;}
.h33{ height:33px;}
.h34{ height:34px;}
.h36{ height:36px}
.h62{ height:62px;}
.h77{ height:77px;}
.h95{ height:95px;}
.h115{ height:115px;}
.pct-h100{height:100%;}
/*行高*/
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh32{line-height:32px;}
.lh40{line-height:40px}
.lh44{line-height:44px}
.lh24{ line-height:24px;}
.lh25{ line-height:25px;}
.lh33{ line-height:33px;}

/*宽度*/
.w33{ width:33px;}
.w60{ width:60px;}
.pct-w26{width:26%;}
.pct-w30{width:30%;}
.pct-w36{width:36%;}
.pct-w38{width:38%;}
.pct-w40{width:40%;}
.pct-w50{width:50%;}
.pct-w62{width:62%;}
.pct-w70{width:70%;}
.pct-w80{ width:80%;}
.pct-w100{width:100%;}
.pic60{ width:60px; height:60px}
.pic120{ width:120px; height:120px}
/*placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */color: #bfbfbf;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#bfbfbf;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#bfbfbf;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#bfbfbf;}
/*公用标题*/
.tit{height:44px; line-height:44px; background:#f5f5f5}
/*公用新闻标题*/
.qiye-nav{height:40px; line-height:40px;background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#00b4ff), to(#48c6ff));text-align:center; font-size:15px;}
.qiye-nav a{color:#94dfff;display:inline-block; font-size:15px}
.qiye-nav a.bai{ color:#fff}
.qiye-nav li.cur a{font-size:16px;color:#fff; font-weight:bold; position:relative}
.qiye-nav li.cur a:after{content: ""; position:absolute;left:40%; bottom:-1px;width: 0px;height: 0px;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #fff;}
.qiye-nav .zhezhao{position:absolute; right:0; top:0; width:16px; height:40px;background:url(/static/img/act/pos/shade.png) no-repeat;background-size:16px auto; z-index:1}
.zhezhao01{position:absolute; right:0; top:0; width:20px; height:45px;background:url(/static/img/act/pos/shade01.png) no-repeat;background-size:20px auto; z-index:1}
/*搜索*/
.br5-tbl{ border-radius:5px 0px 0px 5px;-webkit-border-radius:5px 0px 0px 5px;-moz-border-radius:5px 0px 0px 5px;}
.br5-tbr{ border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;}
.search-img{background:#00aaf0 url(images/serach02.png) center center no-repeat;background-size:20px 20px; }
.search-input::-webkit-input-placeholder { /* WebKit browsers */color: #999;}
.search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#999;}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */color:#999;}
.search-input:-ms-input-placeholder { /* Internet Explorer 10+ */color:#999;}
/*表情*/
.face-box{background:#f0eff5; padding:25px 20px 25px; border-radius:0 0 4px 4px}
.face-box01{ background:#fff; padding:10px 20px 25px;}
.faces-list li {cursor: pointer;float: left;height: 22px; width:14%;overflow: hidden;padding: 4px 0;text-align: center;}
.face-ico{width:24px; height:25px; background-position:0  -123px;}
.face-ico01{width: 24px;
height: 26px;
background-position: 0 -160px;}
/*弹框*/
.kuan-cont{width:100%;z-index:999;top:20%;position:fixed; display:none}
.kuan{width:65%;margin:0 auto;line-height:22px; color:#fff; padding:15px 12px;z-index:999; background:#000; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; border-radius:4px;
-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);}
.kuan01{width:80%; margin:0 auto}
.pct-w90{ width:90%;}
.black-bg{background-color:#000; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; position:fixed;left:0;top:0;width:100%;height:100%;z-index:998; display:none}
/*分享*/
.fx_font{ width:74%;position:absolute; top:5%; left:13%;z-index:10003; display:none}
.fx_font img{ width:100%;}
/*搜索固定*/
.so-cont{position: absolute;left:0;top:57px;width: 100%;height: 100%;background-color: #fff;z-index: 999;}
/*返回顶部*/
.back-top{ width:36px; height:36px;right:15px;bottom:51px; background:rgba(0,0,0,0.3); z-index:50; display:none;}
.arrow-up-bai{width:11px;height:11px;border-right:2px solid #fff;border-bottom: 2px solid #fff;;cursor: pointer;-webkit-transform: rotate(225deg);-moz-transform:rotate(225deg);transform:rotate(225deg); margin:0 auto;top:13px; }
.kuan-cont02{width:100%;z-index:1500;top:20%;position:fixed; display:none}
.tishikuang{width:65%;margin:0 auto;line-height:22px; color:#fff; padding:15px 12px;z-index:999; background:#000; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; border-radius:4px;
-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);}