body{background: #f5f5f5}

.content_style{
	margin-top:15px; 
}
.list_element{
	padding: 15px;
	border-top:1px solid #e6e8e8;
}
.list_element img{
	width:120px;
	border: 1px solid #c7c7c7;
	padding: 2px;
	float: left;
	margin-right: 15px;
}

.content_detail .list{
	height:40px;
	line-height:40px;
	padding: 0xp 10px;
	width:100%;
}